.DetailCard{
    max-width: 40rem;
    box-shadow: 0 0px 8px 0px #00000029;
    border-radius: 1rem;
}
.CardText{
    color: #757575;
}
.CardText span{
    color: #000;
}
.ImgCard{
    border-radius: .8rem;
}